<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bleconfig.demo_m901l"
    android:versionCode="202"
    android:versionName="2.0.2" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	<!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/demo_name_ble_wifi"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        
        <activity
            android:exported="true"
            android:name="com.bleconfig.demo.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bleconfig.demo.SearchBleDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bleconfig.demo.APNActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>